@page
@model Hospital.App.Frontend.Pages.ListadoFamiliaresModel
@{
    //Codigo C#
    ViewData["Title"] = "Listado de Familiares";
}

<h1>Listado de Familiares de la Aplicacion</h1>
<hr>
<a asp-page="./CrearFamiliar">Crear Familiar</a>
<br>
<form method="POST">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Numero Telefono</th>
                <th scope="col">Género</th>
                <th scope="col">Parentesco </th>
                <th scope="col">Correo </th>
                <th scope="col">Dirección </th>
                
                <th scope="col" colspan="5">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var familiar in Model.Familiares)
            {
                <tr>                    
                    <td scope="row">@familiar.Id</td>
                    <td>@familiar.Nombre</td>
                    <td>@familiar.Apellidos</td>
                    <td>@familiar.NumeroTelefono</td>
                    <td>@familiar.Genero</td>
                    <td>@familiar.Parentesco</td>
                    <td>@familiar.Correo</td>
                    <td>@familiar.DireccionFamiliar</td>
                    
                    <td><a asp-page="./EditarFamiliar" asp-route-id="@familiar.Id">Editar</a></td>
                    <td><a asp-page="./VerFamiliar" asp-route-id="@familiar.Id">Detalle</a></td>
                    <td><a asp-page="./EliminarFamiliar" asp-route-id="@familiar.Id">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>