@page
@model Hospital.App.Frontend.Pages.EditarHistoriaClinicaModel
@{
    ViewData["Title"] = "Editar HistoriaClinica";
}

<h1>Editar HistoriaClinica</h1>
<h3>@TempData["idpaciente"]</h3>
<h3> @ViewData["Error"]</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6">
            <form method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.historiaClinica.Id" />
                <div class="col-8 mb-3">
                    <label asp-for="@Model.historiaClinica.Diagnostico" class="form-label">Diagnóstico</label>
                    <input type="text" asp-for="@Model.historiaClinica.Diagnostico" class="form-control" id="FechaHora">
                    <span asp-validation-for="@Model.historiaClinica.Diagnostico" class="text-danger"></span>
                </div>
                <div class="col-8 mb-3">
                    <label asp-for="@Model.historiaClinica.Entorno" class="form-label">Entorno</label>
                    <input type="text" asp-for="@Model.historiaClinica.Entorno" class="form-control" id="txtSigno">
                    <span asp-validation-for="@Model.historiaClinica.Entorno" class="text-danger"></span>
                </div>
                <div class="col-8 mb-3">
                    <label asp-for="@Model.historiaClinica.MedicoId" class="form-label">MedicoId</label>
                    <input type="text" asp-for="@Model.historiaClinica.MedicoId" class="form-control" id="txtValor" readonly>
                    <span asp-validation-for="@Model.historiaClinica.MedicoId" class="text-danger"></span>
                </div>
                <div class="col-8 mb-3">
                    <label asp-for="@Model.paciente.Id" class="form-label">PacienteId</label>
                    <input type="text" asp-for="@Model.paciente.Id" class="form-control" id="txtPacienteId" readonly>
                    <span asp-validation-for="@Model.paciente.Id" class="text-danger"></span>
                </div>
                
                

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col">
            <div class="carousel slide" id="mainSlider" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/familiar.jpg" alt="" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
