@page
@model Hospital.App.Frontend.Pages.ListadoHistoriasModel
@{
     ViewData["Title"] = "Listado de Historias Clinicas";
}
<h1>Listado de Historias Clinicas</h1>
<h2>Paciente: @Model.Persona.Nombre  @Model.Persona.Apellidos</h2>
<hr>

<table class="table">
     <thead>
          <tr>
               <th scope="col">#</th>
               <th scope="col">Diagnostico</th>
               <th scope="col">Entorno</th>
          </tr>
     </thead>
     <tbody>
          @{
               int numFila= 1;
               foreach(var hist in Model.HistoriasClinicas)
               {
                    <tr>
                         <th scope="row">@numFila</th>
                         <td>@hist.Diagnostico</td>
                         <td>@hist.Entorno</td>
                    </tr>
                    numFila++;
               }

          }
     </tbody>

</table>
