@page
@model Hospital.App.Frontend.Pages.CrearPacienteModel
@{
    ViewData["Title"] = "Crear Paciente";

}

<h1>Crear Paciente</h1>
<h3> @ViewData["Error"]</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-lx-6">
            <form method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-8 mb-3">
                    <label asp-for="paciente.Nombre" class="form-label">Nombre</label>
                    <input type="text" asp-for="paciente.Nombre" class="form-control" id="Nombre">
                    <span asp-validation-for="paciente.Nombre" class="text-danger"></span>
                </div>
                <div class="col-8 mb-3">
                    <label asp-for="paciente.Apellidos" class="form-label">Apellidos</label>
                    <input type="text" asp-for="paciente.Apellidos" class="form-control" id="txtApellidos">
                    <span asp-validation-for="paciente.Apellidos" class="text-danger"></span>
                </div>
                <div class="col-4 mb-3">
                    <label asp-for="paciente.NumeroTelefono" class="form-label">Número de Teléfono</label>
                    <input type="text" asp-for="paciente.NumeroTelefono" class="form-control" id="txtNumeroTelefono">
                    <span asp-validation-for="paciente.NumeroTelefono" class="text-danger"></span>
                </div>

                <div class="col-4 mb-3">
                    <label asp-for="paciente.Genero" class="form-label">Genero</label>
                    <input type="text" asp-for="paciente.Genero" class="form-control" id="txtGenero">
                    <span asp-validation-for="paciente.Genero" class="text-danger"></span>
                </div>
                <!-- Atributos de paciente únicamente-->

                <div class="col-8 mb-3">
                    <label asp-for="paciente.Direccion" class="form-label">Dirección</label>
                    <input type="text" asp-for="paciente.Direccion" class="form-control" id="txtDireccion">
                    <span asp-validation-for="paciente.Direccion" class="text-danger"></span>
                </div>
                <div class="col-4 mb-3">
                    <label asp-for="paciente.Latitud" class="form-label">Latitud</label>
                    <input type="text" asp-for="paciente.Latitud" class="form-control" id="txtLatitud">
                    <span asp-validation-for="paciente.Latitud" class="text-danger"></span>
                </div>
                <div class="col-4 mb-3">
                    <label asp-for="paciente.Longitud" class="form-label">Longitud </label>
                    <input type="text" asp-for="paciente.Longitud" class="form-control" id="txtLongitud">
                    <span asp-validation-for="paciente.Longitud" class="text-danger"></span>
                </div>
                <div class="col-4 mb-3">
                    <label asp-for="paciente.Ciudad" class="form-label">Ciudad</label>
                    <input type="text" asp-for="paciente.Ciudad" class="form-control" id="txtCiudad">
                    <span asp-validation-for="paciente.Ciudad" class="text-danger"></span>
                </div>
                <div class="col-4 mb-3">
                    <label asp-for="paciente.FechaNacimiento" class="form-label">Fecha de nacimiento</label>
                    <input type="text" asp-for="paciente.FechaNacimiento" class="form-control" id="txtFechaNacimiento">
                    <span asp-validation-for="paciente.FechaNacimiento" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <select class="form-select" asp-for="medico.Id" aria-label="Asignar médico">
                        <option selected>Seleccione un médico</option>
                        @foreach (var medico in Model.medicos)
                        {
                            <option value="@medico.Id">@medico.Nombre</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <select class="form-select" asp-for="enfermera.Id" aria-label="Asignar Enfermera">
                        <option selected>Seleccione un enfermera</option>
                        @foreach (var enfermera in Model.enfermeras)
                        {
                            <option value="@enfermera.Id">@enfermera.Nombre</option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col">
            <div class="carousel slide" id="mainSlider" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/pacientes.jpg" alt="" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>