@page
@model Hospital.App.Frontend.Pages.VerPacienteModel
@{
}

<h1>Información del paciente:</h1>


<form method="POST">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        @* <label for="paciente">@Model.paciente.Nombre</label> *@
                        <label type="hidden" asp-for="paciente.Id" class="control-label"></label>
                        <label asp-for="paciente.Nombre" class="control-label"></label>
                        <input type="text" asp-for="paciente.Nombre" class="form-control" readonly/>
                    </h5>
                    <p class="card-text">Apellidos: @Model.paciente.Apellidos</p>
                    <p class="card-text">Numero de Telefono: @Model.paciente.NumeroTelefono</p>
                    <p class="card-text">Género: @Model.paciente.Genero</p>
                    <p class="card-text">Dirección: @Model.paciente.Direccion</p>
                    <p class="card-text">Latitud: @Model.paciente.Latitud</p>
                    <p class="card-text">Longitud: @Model.paciente.Longitud</p>
                    <p class="card-text">Ciudad: @Model.paciente.Ciudad</p>
                    <p class="card-text">Fecha de nacimiento: @Model.paciente.FechaNacimiento</p>
                </div>
                <a  asp-page="./EditarMPaciente" asp-route-id="@Model.paciente.Id" >Editar datos</a>
                <a  class="btn btn-primary" asp-page="/Pacientes/SignoSVitales/ListadoSignosVItales" asp-route-id="@Model.paciente.Id" >Signos Vitales</a>
            </div>
        </div>
    </div>
</form>

